In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.naive_bayes import MultinomialNB
from sklearn.multiclass import OneVsRestClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from pandas.plotting import scatter_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

resumes1 = pd.read_csv('input/data-2.csv' ,encoding='utf-8')
del resumes1['ID']
del resumes1['Resume_html']
resumes1['Resume'] = resumes1['Resume_str']
del resumes1['Resume_str']
resumes1['Cleaned resume'] = ''
resumes1.head()

  Category                                             Resume Cleaned resume
0       HR           HR ADMINISTRATOR/MARKETING ASSOCIATE\...
1       HR           HR SPECIALIST, US HR OPERATIONS      ...
2       HR           HR DIRECTOR       Summary      Over 2...
3       HR           HR SPECIALIST       Summary    Dedica...
4       HR           HR MANAGER         Skill Highlights  ...

In [76]:
resumes2 = pd.read_csv('input/data.csv' ,encoding='utf-8')
resumes2['Cleaned resume'] = ''
resumes2.head()

,Category,Resume,Cleaned resume
0,Data Science,Skills * Programming Languages: Python (pandas...,
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",

In [77]:
resumes1.shape

(2484, 3)

In [78]:
resumes2.shape

(962, 3)

In [79]:
print (resumes1['Category'].unique())
print (resumes2['Category'].unique())

['HR' 'DESIGNER' 'INFORMATION-TECHNOLOGY' 'TEACHER' 'ADVOCATE'
 'BUSINESS-DEVELOPMENT' 'HEALTHCARE' 'FITNESS' 'AGRICULTURE' 'BPO' 'SALES'
 'CONSULTANT' 'DIGITAL-MEDIA' 'AUTOMOBILE' 'CHEF' 'FINANCE' 'APPAREL'
 'ENGINEERING' 'ACCOUNTANT' 'CONSTRUCTION' 'PUBLIC-RELATIONS' 'BANKING'
 'ARTS' 'AVIATION']
['Data Science' 'HR' 'Advocate' 'Arts' 'Web Designing'
 'Mechanical Engineer' 'Sales' 'Health and fitness' 'Civil Engineer'
 'Java Developer' 'Business Analyst' 'SAP Developer' 'Automation Testing'
 'Electrical Engineering' 'Operations Manager' 'Python Developer'
 'DevOps Engineer' 'Network Security Engineer' 'PMO' 'Database' 'Hadoop'
 'ETL Developer' 'DotNet Developer' 'Blockchain' 'Testing']

In [80]:
resumes1['Category'] = resumes1.Category.apply(lambda text: text.lower())
resumes1.head()

  Category                                             Resume Cleaned resume
0       hr           HR ADMINISTRATOR/MARKETING ASSOCIATE\...
1       hr           HR SPECIALIST, US HR OPERATIONS      ...
2       hr           HR DIRECTOR       Summary      Over 2...
3       hr           HR SPECIALIST       Summary    Dedica...
4       hr           HR MANAGER         Skill Highlights  ...

In [81]:
resumes2['Category'] = resumes2.Category.apply(lambda text: text.lower())
resumes2.head()

,Category,Resume,Cleaned resume
0,data science,Skills * Programming Languages: Python (pandas...,
1,data science,Education Details \r\nMay 2013 to May 2017 B.E...,
2,data science,"Areas of Interest Deep Learning, Control Syste...",
3,data science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,
4,data science,"Education Details \r\n MCA YMCAUST, Faridab...",

In [82]:
print (resumes1['Category'].unique())
print (resumes2['Category'].unique())

['hr' 'designer' 'information-technology' 'teacher' 'advocate'
 'business-development' 'healthcare' 'fitness' 'agriculture' 'bpo' 'sales'
 'consultant' 'digital-media' 'automobile' 'chef' 'finance' 'apparel'
 'engineering' 'accountant' 'construction' 'public-relations' 'banking'
 'arts' 'aviation']
['data science' 'hr' 'advocate' 'arts' 'web designing'
 'mechanical engineer' 'sales' 'health and fitness' 'civil engineer'
 'java developer' 'business analyst' 'sap developer' 'automation testing'
 'electrical engineering' 'operations manager' 'python developer'
 'devops engineer' 'network security engineer' 'pmo' 'database' 'hadoop'
 'etl developer' 'dotnet developer' 'blockchain' 'testing']

In [83]:
type(resumes1)

pandas.core.frame.DataFrame

In [84]:
resumes1 = resumes1[resumes1.Category != 'engineering']
print (resumes1['Category'].unique())

['hr' 'designer' 'information-technology' 'teacher' 'advocate'
 'business-development' 'healthcare' 'fitness' 'agriculture' 'bpo' 'sales'
 'consultant' 'digital-media' 'automobile' 'chef' 'finance' 'apparel'
 'accountant' 'construction' 'public-relations' 'banking' 'arts'
 'aviation']

In [85]:
resumes1 = resumes1[resumes1.Category != 'bpo']
print (resumes1['Category'].unique())

['hr' 'designer' 'information-technology' 'teacher' 'advocate'
 'business-development' 'healthcare' 'fitness' 'agriculture' 'sales'
 'consultant' 'digital-media' 'automobile' 'chef' 'finance' 'apparel'
 'accountant' 'construction' 'public-relations' 'banking' 'arts'
 'aviation']

In [86]:
resumes1 = resumes1[resumes1.Category != 'sales']
print (resumes1['Category'].unique())

['hr' 'designer' 'information-technology' 'teacher' 'advocate'
 'business-development' 'healthcare' 'fitness' 'agriculture' 'consultant'
 'digital-media' 'automobile' 'chef' 'finance' 'apparel' 'accountant'
 'construction' 'public-relations' 'banking' 'arts' 'aviation']

In [87]:
resumes = resumes1.append(resumes2)
resumes.shape

(3190, 3)

In [88]:
resumes.to_csv("input/dataset.csv", index=False)